In [42]:
# Write a program that prints the integers from 1 to 100.

# But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz".
# For numbers which are multiples of both three and five print "FizzBuzz".

2

'zero'

In [ ]:
# Write a function 'what_sign' which returns 'Positive' 'Zero' or 'Negative' when given a number

def what_sign(a):
        if a > 0:
            return 'Positive'
        elif a < 0:
            return 'Negative'
        else:
            return 'zero'
a = int(input())
what_sign(a)

In [20]:
lst = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']
dic = {}
for i in range(len(lst)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
lst = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']
dic = {}
for k,v in enumerate(lst):
    dic[k] = v
print(dic)

{0: 'Zero', 1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven', 8: 'Eight', 9: 'Nine'}

In [9]:
lst = [4, 3, -9, 21, 0]

print(lst)

None
[-9, 0, 3, 4, 21]

In [8]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [11]:
sqr(3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [15]:
def get_pizza_order(order_num, size, *args, **kwargs):
    print(f"=====================================")
    print(f"Order number: {order_num}")
    print(f"Preparing pizza with size {size} inches.")

    print("Adding the following toppings to the pizza.")
    for topping in args:
        print(f" - {topping}")

    for k, v in kwargs.items():
        print(f"{k} : {v}")
    print(f"=====================================")


toppings = ('green chilly', 'mushroom', 'extra cheese',
            'extra paneer', 'Italian sausage', 'pepperoni')

order_3 = get_pizza_order(
    111, 10, 'green chilly', 'Italian sausage', delivery_type="Home", address="#71, abc road")
order_4 = get_pizza_order(
    112, 7, 'green chilly', 'mushroom', 'extra cheese', delivery_type="table", table_number=12)

=====================================
Order number: 111
Preparing pizza with size 10 inches.
Adding the following toppings to the pizza.
 - green chilly
 - Italian sausage
delivery_type : Home
address : #71, abc road
=====================================
=====================================
Order number: 112
Preparing pizza with size 7 inches.
Adding the following toppings to the pizza.
 - green chilly
 - mushroom
 - extra cheese
delivery_type : table
table_number : 12
=====================================

In [38]:
for i in range(1,7):
    print(i * ('*'))
for j in range(-5, 1):
    print(abs(j) * ('*'))

*
**
***
****
*****
******
*****
****
***
**
*

In [49]:
for i in range(-5, 1):
    print(abs(i) * "*")

*****
****
***
**
*

In [74]:
for i in range(1,5):
    print(" ")

In [122]:
for i in range(1,5):
    print(abs(i) * "*")
for i in range(1,5):
    print(-i * "-")

*
**
***
****

In [124]:
def square_pattern(n):
    for i in range(n):
        print('*' * n)

# Example usage
square_pattern(4)

****
****
****
****

In [120]:
for i in range(5,0, -1):
    print(i * '*')

*****
****
***
**
*

In [115]:
n = 5
for i in range(1,5):
    print(i * "*")

*
**
***
****

In [126]:
n = 5
for i in range(n,0,-1):
    print(' ' * (n-i) + i * '*')

*****
 ****
  ***
   **
    *

In [147]:
n = 5
for i in range(n):
    print(' ' * (n-i) + i * "*", i * "*")

    * *
   ** **
  *** ***
 **** ****

In [153]:
def inverted_pyramid_pattern(n):
    for i in range(n):
        print(' ' * i + '*' * (2 * (n - i) - 1))

# Example usage
inverted_pyramid_pattern(6)

***********
 *********
  *******
   *****
    ***
     *

In [123]:
def inverted_right_aligned_triangle(n):
    for i in range(n, 0, -1):
        print(' ' * (n - i) + '*' * i)

# Example usage
inverted_right_aligned_triangle(4)

****
 ***
  **
   *

In [97]:
for i in range(4,0, -1):
    print(i*"*")

****
***
**
*

In [35]:
for i in range(-5, 1):
    print(abs(i) * ('*'))

*****
****
***
**
*

In [23]:
# Python program to interchange first and last elements in a list.

lis = [3,4,6,2,6]


lis[0], lis[-1] = lis[-1] , lis[0]
print(lis)

[6, 4, 6, 2, 3]

In [22]:
list1 = ["Python", "Gondia", "Science", "Pune", "Velocity"]

# by string slicing

#list1[-1]
#list1[0]

list1[0],list1[-1] = list1[-1],list1[0]
list1

['Velocity', 'Gondia', 'Science', 'Pune', 'Python']

In [25]:
# Python program to swap two elements in a list
lis = [3,6,4,5]
lis[1],lis[2] = lis[2], lis[1]
lis

[3, 4, 6, 5]

In [29]:
#  Python program to count occurrences of an element in a list
lis = [1,2,3,4,44,5,4, "Cutie", "cutie"]

count = 0
for i in lis:
    count+=1
    print(lis.count(i))

1
1
1
2
1
1
2
1
1

In [33]:
# Python program to find the sum of elements in a list?

lis = [3,4,5,6]
count = 0
for i in lis:
    count+=1
print(count)

4

In [36]:
# Pythom program to Multiply all numbers in the list?
lis = [4,4,5,7]
n = 1
for i in lis:
    n *= i
print(n)

560

In [49]:
list_ = [1, 2, 5, 4, 5, 6]
lenn = 0
for i in list_:
    lenn +=1
print(lenn)

6

In [56]:
"""Take inputs from the user to make a list. 
Again take one input from the user and search it in the list and delete that element, if found. 
Iterate over a list using for loop."""

lis = list(input("lis__ "))
user_input = list(input('user inputlist__ '))

for i in lis:
    if i in user_input:
        lis.remove(i)
        print(lis)
    else:
        "Element is not present"

lis__ 2 3 4 5
user inputlist__ 4
['2', ' ', '3', ' ', ' ', '5', ' ']

In [62]:
# u are given a list of integer elements. Make a new list that will store a square of elements of the previous list
lis = [1,2,3,4,5,8]
lis_com = [i ** 2 for i in lis ]
new_lis.append(lis_com)
lis_com

[1, 4, 9, 16, 25, 64]

In [64]:
lis = [1,2,3,4,5,8]

for i in lis:
    i = i**2
    print(i)

1
4
9
16
25
64

In [89]:
# to create two lists, one containing all even numbers and the other containing all odd numbers between 0 to 151
lis1 = []
lis2 = []
even = 0
odd = 0
for i in range(0,152):
    if i % 2 ==0:
        even +=1
        lis1.append(i)
    else:
        odd +=1
        lis2.append(i)
print(even)
print(odd)
print(f'lis1 -->', lis1, '\n')

print( f'lis2 -->', lis2)
len(lis1)

76
76
lis1 --> [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

lis2 --> [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

76

In [93]:
# From a list containing ints, strings and floats, make three lists to store them separately?
lis = ['I', 3, 3.44]
strr = []
intt = []
floatt = []
for i in lis:
    if type(i) ==str:
        strr.append(i)
    elif type(i) == int:
            intt.append(i)
    else:
        floatt.append(i)
        print(strr)
        print(intt)
        print(floatt)

['I']
[3]
[3.44]

In [98]:
x = [[1,4,5]],45,89,'rahul',[34,8,7,],[56,78,90]
for i in x:
    if type(i) ==list:
        pass
print("list contain a sublist",x)

list contain a sublist ([[1, 4, 5]], 45, 89, 'rahul', [34, 8, 7], [56, 78, 90])

In [103]:
list2 = [10, 2, 509, [450, 240, 23], 12, 23, [14, 23], 21, 2]
for element in list2:
    if type(element) == list:
        print("the given list contains sublist")
        break
    else:
        print("the given list doesn't contains sublist")

the given list doesn't contains sublist
the given list doesn't contains sublist
the given list doesn't contains sublist
the given list contains sublist

In [104]:
def generate_sublists(lst):
    sublists = []
    n = len(lst)
    # Iterate over all possible start positions
    for start in range(n):
        # Iterate over all possible end positions
        for end in range(start + 1, n + 1):
            sublists.append(lst[start:end])
    return sublists

# Example usage
my_list = [1, 2, 3]
all_sublists = generate_sublists(my_list)
print(all_sublists)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

In [105]:
def list_to_single_integer(lst):
    # Convert each integer in the list to a string
    str_lst = [str(num) for num in lst]
    # Concatenate the strings and convert back to an integer
    single_integer = int(''.join(str_lst))
    return single_integer

# Example usage
my_list = [11, 33, 50]
result = list_to_single_integer(my_list)
print(result)

113350

In [121]:
# You are given a list of integers. You are asked to make a list by running through elements
# of the list by adding all elements greater and itself.
# i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

# For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.
# For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20
# like wise for all other elememts.
# [2,4,6,10,1]-->[22,20,16,10,23]


lis  = [2,3,6,10,1]
lis1 = []

for i in lis:
    summ = 0
    for j in lis:
        if i <= j:
            summ += j
    lis1.append(summ)
print(lis1)

[21, 19, 16, 10, 22]

In [ ]:
brus = [2,4,6,10,1]
new = []

for i in brus:
    su = 0
    for j in brus:
        if i <=j:
            su += j
    new.append(su)
print(new)

In [133]:
inp = ['CampusX is a channel', 'for data-science', 'aspirants.']
# O/p --['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
op = []
for i in inp:
    i.split
    print(i)

CampusX is a channel
for data-science
aspirants.

In [127]:
inp = ['CampusX is a channel', 'for data-science', 'aspirants.']

output = []
for sentence in inp:
    output.extend(sentence.split())

print(output)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [140]:
# Write a program that can perform union operation on 2 lists

li = [1,2,3,4,5,1]
lii = [2,3,5,7,8, 9]
li1 = []
for i in li:
    if i not in li1:
        li1.append(i)
        
for j in lii:
    if j not in li1:
        li1.append(j)
print(li1)

[1, 2, 3, 4, 5, 7, 8, 9]

In [141]:
list1 = [1, 2, 3, 6, 7, 8, 27, 24, 23, 75, 12]
list2 = [6, 7, 8, 81, 27, 53, 24, 40, 623, 75]

common_item = []
for i in list1:
    for j in list2:
        if i == j:
            common_item.append(i)
print("common item list1 and list2 is: ",common_item)

common item list1 and list2 is:  [6, 7, 8, 27, 24, 75]

In [13]:
### Write a program that computes the net amount of a bank account based a transaction log from console input. 
# The transaction log format is shown as following:
# D 100
# W 200

# D means deposit while W means withdrawal.
# Suppose the following input is supplied to the program:
# D 300
# D 300
# W 200
# D 100
# Then, the output should be:
# 500

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

# Initialize net amount
net_amount = 0

# Iterate over each transaction from console input
while True:
    # Take input for transaction
    transaction = input("Enter transaction (D/W amount) or press Enter to finish: ")
    
    # If no input is given, break out of the loop
    if not transaction:
        break
    
    # Split transaction into type and amount
    transaction_type, amount = transaction.split()
    
    # Convert amount to integer
    amount = int(amount)
    
    # Update net amount based on transaction type
    if transaction_type == 'D':
        net_amount += amount
    elif transaction_type == 'W':
        net_amount -= amount

# Print the net amount
print(net_amount)

Enter transaction (D/W amount) or press Enter to finish: D 4
Enter transaction (D/W amount) or press Enter to finish: W 7
Enter transaction (D/W amount) or press Enter to finish:
-3